/* =========================================
   Base / Global
========================================= */

body { 
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #1e1e1e;
    color: white;

    overflow: hidden;
}

body.dragging::after {
    content: "Drop .srt file here";

    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.75);
    border: 3px dashed #ffffff88;

    color: white;
    font-size: 2rem;
    font-family: sans-serif;

    z-index: 9999;
    pointer-events: none;

    backdrop-filter: blur(4px);
}

.hidden {
    display: none !important;
}

/* =========================================
   Main Subtitle Display
========================================= */

#MainLabel {
    text-align: center;
    font-size: 48px;
    font-weight: 400;

    max-width: 80vw;
    white-space: pre-line;

    text-shadow:
        0 0 2px black,
        0 0 4px black,
        2px 2px 6px rgba(0,0,0,0.9);
}

/* =========================================
   Typography
========================================= */

a {
    color: #7cc7ff;
    text-decoration: none;
    font-weight: 500;

    border-bottom: 1px solid transparent;

    transition:
        color 0.2s ease,
        text-shadow 0.2s ease,
        border-color 0.2s ease;
}

label {
    display: flex;
    flex-direction: column;
    gap: 4px;

    font-size: 14px;
}

kbd {
    min-width: 16px;
    padding: 4px 8px;

    border-radius: 6px;

    background: #2b2b2b;
    border: 1px solid #555;

    font-family: monospace;
    text-align: center;
}

/* =========================================
   Form Controls
========================================= */

input,
select,
button {
    font: inherit;
    border-radius: 4px;
    margin: 1px;
    box-sizing: border-box;
}

input,
select {
    width: 100%;
}

button{
    cursor: pointer;
}

input[type="color"] {
    width: 100%;
    box-sizing: border-box;
}

/* =========================================
   Range Slider
========================================= */

input[type="range"] {
    appearance: none;
    -webkit-appearance: none;

    height: 6px;
    padding: 0;

    background: #444;
    border: none;
    border-radius: 999px;

    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;

    width: 18px;
    height: 18px;

    border-radius: 50%;

    background: #FF8C00;
    border: none;
}